:root {
  --primary-red: #E63946;
  --bg-black: #000000;
  --light-blue: #457B9D;
  --off-white: #F1FAEE;
  --pure-white: #FFFFFF;
  --bg-red: #dc888f;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

main {
  /* margin-top: 80px; */
  background-color: var(--bg-black);
  color: var(--pure-white);
  width: 100%;
  max-width: 100vw; /* Ensure main content doesn't exceed viewport width */
  overflow-x: hidden; /* Prevent horizontal scrolling within main content */
}

.form-group {
  margin-bottom: 15px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #457B9D;
  border-radius: 4px;
  background-color: #FFFFFF;
}

.form-group input:focus {
  outline: none;
  border-color: #1D3557;
  box-shadow: 0 0 0 0.2rem rgba(29, 53, 87, 0.25);
}

.was-validated .form-group input:valid {
  border-color: #28a745;
}

.was-validated .form-group input:invalid {
  border-color: #E63946;
}

.invalid-feedback {
  display: none;
  color: #E63946;
  font-size: 80%;
  margin-top: 5px;
}

.was-validated .form-group input:invalid + .invalid-feedback {
  display: block;
}

/* Footer Styles */
.site-footer {
  background-color: #1D3557;
  color: #FFFFFF;
  padding: 50px 0 20px;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  flex: 1;
  margin-bottom: 30px;
  min-width: 200px;
  padding: 0 15px;
}

.footer-logo {
  max-width: 150px;
  margin-bottom: 15px;
}

.company-mission {
  font-size: 0.9em;
  line-height: 1.6;
  color: #F1FAEE;
}

.footer-section h3 {
  font-size: 1.2em;
  margin-bottom: 15px;
  color: #FFFFFF;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section a {
  color: #F1FAEE;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section a:hover {
  color: #E63946;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icon {
  font-size: 1.5em;
  color: #FFFFFF;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 20px;
  text-align: center;
  font-size: 0.9em;
}

.footer-bottom p {
  margin-bottom: 10px;
  color: #F1FAEE;
}

.footer-bottom a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-bottom a:hover {
  color: #E63946;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }

  .footer-section {
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }
}